<h2 mat-dialog-title>{{data.action}} customer</h2>
<mat-dialog-content [formGroup]="customerForm">
    <div *ngFor="let field of fields;">
      <mat-form-field *ngIf="data.fields[field] === 'string'" class="customer-field">
        <input matInput *ngIf="data.fields[field] === 'string'" [disabled]="field === 'id'" [formControlName]="field" [placeholder]="field + ' *'">
      </mat-form-field>

      <mat-form-field *ngIf="data.fields[field] === 'number'" class="customer-field">
        <input matInput  type="number" [formControlName]="field" [placeholder]="field + ' *'">
      </mat-form-field>

      <mat-form-field *ngIf="data.fields[field] === 'date'">
        <input matInput [matDatepicker]="picker" [placeholder]="field + ' *'" [formControlName]="field">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="toggle-field">
        <mat-slide-toggle color="primary" *ngIf="data.fields[field] === 'boolean'" [formControlName]="field">{{field}}</mat-slide-toggle>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="cancel()">Close</button>
    <button class="mat-raised-button mat-primary" [disabled]="!customerForm.valid" (click)="submit()">Save</button>
</mat-dialog-actions>
