<h3>Howdy, GUEST</h3>
<p>Login to get started...</p>

<button (click)="auth.loginWithGoogle()">
    <i class="fa fa-google"></i> Connect Google
</button>

<button [routerLink]="['/home']">Go home</button>
