<div class="customers-page">
    <mat-toolbar class="page-header">
        <span>Customers</span>
        <div>
            <span *ngIf="auth.user" class="user-name">{{auth.user.displayName}}</span>
            <button mat-stroked-button (click)="auth.logout()" class="mat-raised-button mat-primary">Logout</button>
        </div>
    </mat-toolbar>
    <div class="content-holder">
        <div class="table-control-panel">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <div>
                <button mat-stroked-button (click)="openDialog('add')" class="mat-raised-button mat-primary">Add customer</button>
                <button mat-stroked-button [matMenuTriggerFor]="menu" (menuClosed)="displayColumns.closed()" class="displayColumns_button">Menu</button>
                <mat-menu #menu="matMenu">
                    <div *ngFor="let field of displayColumns.fields;" (click)="$event.stopPropagation()">
                        <mat-checkbox [(ngModel)]="displayColumns.map[field]">{{field}}</mat-checkbox>
                    </div>
                </mat-menu>
            </div>
        </div>
        <div class="table-holder">
            <table mat-table [dataSource]="customers" matSort class="mat-elevation-z8 customers-table">
                <ng-container matColumnDef="name" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.id}} </td>
                </ng-container>

                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.gender}} </td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.age}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
                </ng-container>

                <ng-container matColumnDef="isVerified">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Verified </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.isVerified}} </td>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.isActive}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.company}} </td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.balance}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
                </ng-container>

                <ng-container matColumnDef="nextQuestDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Quest Date </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.nextQuestDate | momentPipe:'YYYY-MM-DD'}} </td>
                </ng-container>

                <ng-container matColumnDef="lastTimeOnline">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Time Online </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.lastTimeOnline | momentPipe:'YYYY-MM-DD'}} </td>
                </ng-container>

                <ng-container matColumnDef="questsComplete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quests Completed </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.questsComplete}} </td>
                </ng-container>

                <ng-container matColumnDef="questsRestarts">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quests Restarted </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.questsRestarts}} </td>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let customer">
                        <button class="edit-table-button" mat-stroked-button (click)="openDialog('edit', customer)">Edit</button>
                        <button mat-stroked-button (click)="deleteCustomer(customer)">Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="tableColumnsToShow"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumnsToShow;"></tr>
            </table>
        </div>
    </div>
</div>

