.table-holder {
  width: 100%;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
}

table {
  width: 100%;
}

.page-header {
  margin-bottom: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.table-control-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.displayColumns {
  &_button {
    margin-left: 20px;
  }
}

.content-holder {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
}
.table-holder {
  flex: 1;
}
.user-name {
  padding-right: 20px;
}


td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

.mat-header-cell,
.mat-cell {
  padding: 0 24px;
  white-space: nowrap;
}
.edit-table-button {
  margin-right: 24px;
}
.customers-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}
.mat-cell {
  height: 67px;
}
