<!--<div *ngIf="auth.user$ | async; then authenticated else guest">-->
    <!--&lt;!&ndash; template will replace this div &ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash; User NOT logged in &ndash;&gt;-->
<!--<ng-template #guest>-->
    <!--<h3>Howdy, GUEST</h3>-->
    <!--<p>Login to get started...</p>-->

    <!--<button (click)="auth.googleSignin()">-->
        <!--<i class="fa fa-google"></i> Connect Google-->
    <!--</button>-->

<!--</ng-template>-->


<!--&lt;!&ndash; User logged in &ndash;&gt;-->
<!--<ng-template #authenticated>-->
    <!--<div *ngIf="auth.user$ | async as user">-->
        <!--<h3>Howdy, {{ user.displayName }}</h3>-->
        <!--<img [src]="user.photoURL">-->
        <!--<p>UID: {{ user.uid }}</p>-->
        <!--<button (click)="auth.signOut()">Logout</button>-->
    <!--</div>-->
<!--</ng-template>-->